.item-breadcrumb ol{
  background-color: white;
  font-size: .8rem;
}
.item-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: '>';  
}
.item-breadcrumb .breadcrumb-item a{
  text-decoration: none;
  color: #6c757d;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img{
  max-width: 100%;
  height: "auto";
}

.shadow-top{
  box-shadow: 0px 10px 5px rgba(0,0,0,.15), 0px -10px 5px rgba(0,0,0,.15);
}

.default-container{
  background-color: rgb(238,238,238);
}

.default-component-container{  
  background-color: white;
}

.default-navbar-brand{
  font-size: 3rem;
  font-weight: bold;
}

.card-item:hover{
  -moz-box-shadow: 0 0 5px 5px #ddd;
  -webkit-box-shadow: 0 0 5px 5px #ddd;
  box-shadow: 0 0 5px 5px #ddd;
  cursor: pointer;
}

.card-item-container{
  max-width: 140px;
}

.card-item-title{
  font-size: .8rem;
  margin-bottom: 1.5rem;  
}

.card-item-price{
  position: absolute;
  bottom: 0;  
}

.card-item-listing-title{
  font-size: 1.25rem;
  margin-left: 15px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.error-heading{
  margin-left: 25px;
}